.App {
	text-align: center;
}

header {
	flex-direction: row;
	align-items: center;
}

#popcornIcon-onload,
#popcornIcon-onhover {
	height: 10vw;
	margin-bottom: -1.5vw;
}

#popcornIcon-onload {
	-webkit-animation: rotate-scale-up 0.65s linear both;
	animation: rotate-scale-up 0.65s linear both;
	transition: 1000ms;
}

#popcornIcon-onhover:hover {
	-webkit-animation: shake-bottom 01s cubic-bezier(0.455, 0.03, 0.515, 0.955)
		both;
	animation: shake-bottom 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.title-bar,
header {
	display: flex;
	justify-content: center;
}

.title {
	margin-top: 3vw;
	cursor: pointer;
	-webkit-animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
	animation: text-focus-in 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
	animation-delay: 2ms;
}

/* ----- Animations ---- */

@-webkit-keyframes text-focus-in {
	0% {
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}
@keyframes text-focus-in {
	0% {
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(3600deg);
	}
}
@-webkit-keyframes rotate-scale-up {
	0% {
		-webkit-transform: scale(1) rotateZ(0);
		transform: scale(1) rotateZ(0);
	}
	50% {
		-webkit-transform: scale(2) rotateZ(180deg);
		transform: scale(2) rotateZ(180deg);
	}
	100% {
		-webkit-transform: scale(1) rotateZ(360deg);
		transform: scale(1) rotateZ(360deg);
	}
}
@keyframes rotate-scale-up {
	0% {
		-webkit-transform: scale(1) rotateZ(0);
		transform: scale(1) rotateZ(0);
	}
	50% {
		-webkit-transform: scale(2) rotateZ(180deg);
		transform: scale(2) rotateZ(180deg);
	}
	100% {
		-webkit-transform: scale(1) rotateZ(360deg);
		transform: scale(1) rotateZ(360deg);
	}
}

@-webkit-keyframes shake-bottom {
	0%,
	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
	}
	10% {
		-webkit-transform: rotate(2deg);
		transform: rotate(2deg);
	}
	20%,
	40%,
	60% {
		-webkit-transform: rotate(-4deg);
		transform: rotate(-4deg);
	}
	30%,
	50%,
	70% {
		-webkit-transform: rotate(4deg);
		transform: rotate(4deg);
	}
	80% {
		-webkit-transform: rotate(-2deg);
		transform: rotate(-2deg);
	}
	90% {
		-webkit-transform: rotate(2deg);
		transform: rotate(2deg);
	}
}
@keyframes shake-bottom {
	0%,
	100% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transform-origin: 50% 100%;
		transform-origin: 50% 100%;
	}
	10% {
		-webkit-transform: rotate(2deg);
		transform: rotate(2deg);
	}
	20%,
	40%,
	60% {
		-webkit-transform: rotate(-4deg);
		transform: rotate(-4deg);
	}
	30%,
	50%,
	70% {
		-webkit-transform: rotate(4deg);
		transform: rotate(4deg);
	}
	80% {
		-webkit-transform: rotate(-2deg);
		transform: rotate(-2deg);
	}
	90% {
		-webkit-transform: rotate(2deg);
		transform: rotate(2deg);
	}
}
