@import url(https://fonts.google.com/specimen/Dela+Gothic+One);

body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #071234;
	color: whitesmoke;
}

header {
	background-color: #071234;
	width: 100%;
}

h1,
h2 {
	font-size: 4vw;
	font-family: 'Dela Gothic One', cursive;
}

h2 {
	font-size: 1vw;
}
