@import url(https://fonts.google.com/specimen/Dela+Gothic+One
https://fonts.google.com/specimen/Secular+One);
@import url(https://fonts.google.com/specimen/Secular+One
https://fonts.google.com/specimen/Alfa+Slab+One);
@import url(https://fonts.google.com/specimen/Fredoka+Ones);
@import url(https://fonts.google.com/specimen/Righteous);

body {
  font-family: '';
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #08143d;
  color: whitesmoke;
}

h1 {
  font-size: 4vw;
  font-family: 'Fredoka One', cursive;
}
