.movie-img {
	max-width: 20vw;
	border-radius: 5%;
	transition: 1000ms;
}

.movie-img:hover {
	transform: scale(1.1);
	border-radius: 5%;
	transition: 500ms;
}

@media screen and (max-width: 500px) {
	.movie-img {
		max-width: 90vw;
	}
}